/* project =================================================================================================================================== */
.projcet-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, #fff 50%, #000 50%);
    position: relative;
}

/* header =================================================================================================================================== */
.projcet-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.projcet-header div {
    margin-top: 40px;
    font-size: 24px;
}

.projcet-header-current-page {
    margin-left: 50px;
    color: #000;
}

.projcet-header-name {
    margin-right: 50px;
    color: #fff;
}