/* project =================================================================================================================================== */
.project-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, #fff 50%, #000 50%);
    position: relative;
}

.project-content {
    display: flex;
}

.project-list {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.project-item {
    width: 80%;
    max-width: 500px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px 30px;
    cursor: pointer;
    background-color: white;
    transition: background-color .5s ease, color .5s ease;
    color: #000;
}

.project-item-title {
    font-size: clamp(1em, 2vw, 1.5em);
}

.project-item-name {
    font-size: clamp(1em, 2vw, 2em);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.project-view {
    width: 50%;
    height: 100vh;
    position: relative;
}

.project-default {
    color: #fff;
    font-size: 10em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
    .project-default {
        font-size: 8em;
    }
}

@media (max-width: 900px) {
    .project-default {
        font-size: 5em;
    }
}

.project-description {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 700px;
    border-left: 1px solid #fff;
    padding-left: 13px;
    font-weight: bold;
}

.project-description h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.project-description h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.project-description h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-section,
.project-purpose {
    margin-bottom: 20px;
}

.project-description li {
    list-style: circle;
    font-size: 18px;
    margin-bottom: 5px;
}

/* header =================================================================================================================================== */
.project-header {
    display: flex;
    position: absolute;
    z-index: 3;
    width: 100%;
    background: linear-gradient(90deg, #fff 50%, #000 50%);
    height: 120px;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
}

.project-header-current-page {
    margin-left: 4%;
    color: #000;
}

.project-header-name {
    margin-right: 4%;
    color: #fff;
}

/* mobile =================================================================================================================================== */
@media (max-width: 768px) {
    .project-wrap {
        background: none;
    }

    .project-header {
        background: #fff;
        height: 40px;
    }

    .project-content {
        display: block;
    }

    .project-header-name {
        color: #000;
    }

    .project-content {
        background: linear-gradient(0deg, #000 50%, #fff 50%);
    }

    .project-list {
        width: 100%;
        height: 50vh;
        border: 1px solid #ff0000;
        gap: 10px;
    }

    .project-item {
        width: 80%;
        height: 15%;
        border-radius: 10px;
        padding: 0;
    }

    .project-item-title {
        display: none;
    }

    .project-item-name {
        margin-top: 4%;
    }

    .project-view {
        width: 100%;
        height: 50vh;
    }

    .project-default {
        font-size: 5em;
    }
}