/* prologue =================================================================================================================================== */
.prologue-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, #000 50%, #fff 50%);
    position: relative;
}

.prologue-content {
    display: flex;
}

/* header =================================================================================================================================== */
.prologue-header {
    display: flex;
    position: absolute;
    z-index: 3;
    width: 100%;
    background: linear-gradient(90deg, #000 50%, #fff 50%);
    height: 120px;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
}

.prologue-header-current-page {
    margin-left: 4%;
    color: #fff;
}

.prologue-header-name {
    margin-right: 4%;
    color: #000;
}

/* profile =================================================================================================================================== */
.profile-wrap {
    width: 50%;
    height: 100vh;
    position: relative;
}

.profile-img {
    width: 80%;
    max-width: 400px;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 15px;
    border: 1px solid #000;
    /* background-image: url(); */
    background-size: 400px 400px;
    background-repeat: no-repeat;
}

.profile-info {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-weight: bold;
}

.profile-ko-name {
    font-size: 2em;
    margin-bottom: 15%;
}

.profile-eng-name,
.profile-birth-date {
    font-size: 1.3em;
}

/* summary =================================================================================================================================== */
.summary-wrap {
    width: 50%;
    height: 100vh;
    color: #fff;
}

.summary-content {
    width: 600px;
    height: 700px;
    position: absolute;
    top: 15%;
    left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-title {
    font-size: 30px;
    padding-left: 20px;
    margin-bottom: 10px;
    /* list-style: disc; */
}

.summary-discription {
    font-size: 14px;
}

.summary-discription li {
    padding-left: 20px;
    border-left: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
}

.summary-position {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
}

.summary-skill img {
    width: 32px;
    height: 32px;
}

.img-border {
    border: 1px solid #fff;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile =================================================================================================================================== */
@media (max-width: 768px) {
    .prologue-wrap {
        background: linear-gradient(180deg, #fff 80%, #000 20%);
    }

    .prologue-content {
        display: block;
        position: relative;
    }

    .prologue-header {
        height: 50px;
        font-size: 1em;
        background: #fff;
    }

    .prologue-header-current-page {
        color: #000;
    }

    .profile-wrap {
        height: 20vh;
        width: 100%;
        display: flex;
    }

    .profile-img {
        height: 70%;
        width: 40%;
        border: 1px solid #fff;
        top: 15%;
        left: 5%;
        transform: initial;
    }

    .profile-info {
        height: 70%;
        width: 50%;
        transform: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .profile-ko-name {
        font-size: 1.5em;
        margin-bottom: 5%;
    }

    .profile-eng-name,
    .profile-birth-date {
        font-size: 1em;
    }

    .summary-wrap {
        height: 80vh;
        width: 100%;
        mix-blend-mode: difference;
    }

    .summary-content {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 10%;
        left: 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .summary-title {
        font-size: 1em;
        margin-bottom: 1%;
    }

    .summary-discription {
        font-size: .7em;
    }

    .summary-certifiacte .summary-discription li,
    .summary-education .summary-discription li {
        height: 40px;
        flex-direction: column;
        align-items: start;
    }

    .summary-position {
        font-size: 1em;
        font-weight: bold;
    }

    .summary-skill .summary-position {
        width: 50px;
    }

    .summary-skill img {
        width: 16px;
        height: 16px;
    }

    .img-border {
        border-radius: 5px;
        width: 32px;
        height: 32px;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}